<nav class="navbar navbar-default no-margin navbar-static-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 no-padding centered">
				<ul class="nav pull-left">
					<li>
						<a class="back" href="{{backPath}}">
							<span class="glyphicon glyphicon-menu-left btn-lg"></span><span>{{back}}</span>
						</a>
					</li>
	          	</ul>
	          	<div class="balance smaller"><strong>{{balance | number : fractionSize}} Points</strong></div>
				<ul class="nav pull-right">
			        <li dropdown class="dropdown pull-right">
			        	<a dropdown-toggle class="dropdown-toggle glyphicon glyphicon-menu-hamburger btn-lg" role="button"></a>
			         	<ul class="dropdown-menu" role="menu">
			         		<li><a href >Home</a></li>
		           			<li><a href >Sweepstakes</a></li>
		           			<li class="active"><a href >Acutions</a></li>
		           			<li><a href >Daily Deals</a></li>
		           			<li><a href >Local Offers</a></li>
		           			<li><a href >Merchandise</a></li>
		           			<li><a href >Gift Catds</a></li>
		           			<li class="divider"></li>
		           			<li><a href >Account</a></li>
			          	</ul>
			        </li>
					<li class="pull-right"><a href class="glyphicon glyphicon-envelope btn-lg"></a></li>     
					<li class="pull-right"><a href class="glyphicon glyphicon-shopping-cart btn-lg"></a></li>
		      	</ul>   			 			
			</div>
		</div>
	</div>
</nav>